.main {
    width: 900px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    line-height: 1.5em;
}

.letter {
    margin-top: 10%;
    margin-bottom: 10%;
    border: 1px solid #e3e3e3;
    padding: 2% 4%;
}

.derecha {
    text-align: right;
    font-style: italic;
}

.izquierda {
    text-align: left;
    font-style: italic;
}

.orden {
    padding-left: 50px;
}

.orden2>dd {
    padding-left: 50px;
}