.derecha {
    text-align: right;
    line-height: 0.3;
    font-style: italic;
}

.izquierda {
    text-align: left;
    line-height: 0.3;
    font-style: italic;
}

body {
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    width: 1000px;
    background-color: white;
}

a:link {
    color: #767ef5;
}

a:hover {
    color: blue;
}